<html>
    <body>
    {% assign products = site.hotfixes | map: "product" | uniq %}

    <ul>
    {% for product in products %}
        {% assign fixes = site.hotfixes | where: "product", product %}
        {% assign fix = fixes | first %}
            <li>
                <a class="btn btn-rss" href="{{ site.url }}{{ site.baseurl }}/feed/{{ product | downcase | replace: ' ', '-'}}.xml" target="_blank">Subscribe to {{ product }} RSS</a>
            </li>
    {% endfor %}
    </ul>
    </body>
</html>